.product {
  padding: 40px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns:
    [start] 70px [logoend] 30px [titlestart] calc(50% - 100px)
    [middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratestart] auto [end];
}

.logo {
  grid-column: start / logoend;
  grid-row: 1 / span 2;
}

.title,
.tags {
  grid-column: titlestart / middle;
}

.price,
.priseTitle {
  grid-column: pricestart / priceend;
}

.credit,
.creditTitle {
  grid-column: creditstart / creditend;
}

.rating,
.ratingTitle {
  grid-column: ratestart / end;
}

.hr,
.description,
.actions {
  grid-column: start / end;
}

.features {
  grid-column: start / middle;
}

.advBlock {
  grid-column: middle / end;
}

.logo img {
  border-radius: 5px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  align-self: flex-end;

  color: var(--black);
}

.price,
.credit {
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  align-self: flex-end;

  color: var(--black);
}

.credit > span {
  font-size: 14px;
  line-height: 19px;
}

.rating {
  align-self: flex-end;
}

.priseTitle,
.creditTitle,
.ratingTitle {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
}

.oldPrice {
  margin-left: 5px;
  margin-bottom: 0;
}
