html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background: var(--main-bg);

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--white: #FFF;
	--primary: #7653FC;
	--orange: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--red: #DE0000;
	--gold: #DCB44E;
	--main-bg: #E5E5E5;
	--feedback-bg: #F9F8FF;
	--font-family: "Noto Sans Display", sans-serif;
}
