html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #F5F4F4;

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

.visualyHidden {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}

:root {
	--black: #3B434E;
	--white: #FFF;
	--gray: #B3C0D9;
	--gray-light: #EBEBEB;
	--gray-dark: #6B6F76;
	--primary: #7250F3;
	--primary-hover: #6344DF;
	--orange: #FC836D;
	--green: #127A4F;
	--green-light: #C8F8E4;
	--red: #DE0000;
	--red-light: #F8A5A5;
	--gold: #DCB44E;
	--main-bg: #E5E5E5;
	--feedback-bg: #F9F8FF;
	--font-family: "Noto Sans Display", sans-serif;
}
